body {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: #ffffff;
  background-color: #292232;
}

*,*::after, *::before{
  box-sizing: border-box;
}

.indicator {
  position: relative;
}

.indicator::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
  background-color: orange;
}

.toast-own {
  position: absolute;
  top: 50px;
  left: 0;
  min-width: 270px;
  background-color: #404040;
  z-index: 100000;
}

li{
  list-style: none;
}

.own1:hover{
  cursor: pointer;
}
  
.row {
  display: flex;
  flex-direction: row;
}

.box {
  min-height: 60px;
  min-width: 60px;
  width: 100%;
}

.room {
  min-height: 100vh;
}

.playercard-wrapper {
  border: 2px solid #937F59;
  padding: 2px;
}

.playercard {
  color: #ffffff;
  border: 2px solid #534C44;
  padding: 3px;
}

.playercard-border {
  border: 1px solid #525252;
  padding: 2px;
}

.playercad-border--mobile {
  border: 1px solid #525252;
  padding: 2px;
}

.playercard-name {
  margin: 3px 0;
}

.horiz-wrapper {
  position: relative;
  min-height: 17px;
  display: flex;
  align-items: center;
}

.vert-wrapper {
  min-width: 17px;
  display: flex;
  justify-content: center;
}

.horiz {
  height: 6px;
  margin-left: 17px;
  min-width: 60px;
  border: none;
  padding: 0;
}

.vert {
  width: 6px;
  border: none;
  min-height: 60px;
  padding: 0;
}

.horiz::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: black;
  border-radius: 50%;
}

.horiz-last {
  height: 6px;
  margin-left: 17px;
  margin-right: 17px;
  min-width: 60px;
  border: none;
  margin-top: 0;
  padding: 0;
}

.horiz-last::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: black;
  border-radius: 50%;
}

.horiz-last::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 17px;
  width: 17px;
  background-color: black;
  border-radius: 50%;
}

.field-wrapper {
  border: 2px solid #706C6C;
  width: fit-content;
  margin: 0 10px;
  padding: 10px;
}

.board{
  border: 3px solid #937F59;
  padding: 2px;
}

.gameboard {
  overflow: auto;
  max-width: 800px;
  max-height: 800px;
  border: 3px solid #534C44;
  padding: 10px;
  background-image: linear-gradient(to left bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.gameboard button {
  background: none;
  display: block;
}

.info {
  margin: 0 30px;
}

.info-height {
  min-height: 80px;
}

.left-box {
  background-color: #f0f0f0;
  border: 1px solid  black;
  border-radius: 10px;
  position: relative;
  bottom: 15px;
  padding: 0 20px;
}

.right-box {
  background-color: #f0f0f0;
  border: 1px solid  black;
  border-radius: 10px;
  padding: 0 20px;
}

.info p {
  margin: 0;
  white-space: nowrap;
}

.quit{
  position: relative;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

.countdown {
  text-align: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 0 auto;
  background-color: #f0f0f0;
  position: relative;
  bottom: 15px;
  padding: 7px;
}

.backdrop-custom-class {
  background-color: rgb(250, 250, 250);
  opacity: 0.7;
}

.playercard__header {
  border-radius: 10px;
}

.move {
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}

.players-mobile {
  display: none;
}

.playercard img {
  width: 75px;
}

.box__letter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 680px) {

  .playercard-wrapper {
    display: none;
  }

  .players-mobile {
    display: block;
    margin: 10px 0;
  }

  .players-mobile img {
    width: 40px;
  }

  .room__title {
    position: static;
    padding-top: 10px;
  }

  .field-wrapper {
    margin: 0;
  }

}
